body {
    background-color: #ebeaea;
    /* align-items: center;
    justify-content: center; */
    min-height: 100vh;
}

h2 {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0px 100px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0px 100px;
}

.neumorphism-rect {
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 90px;
    background: #ebeaea;
    box-shadow: -7px 7px 12px #d1d0d0, 7px -7px 12px #ffffff;
}

.neumorphism-rect:active {
    box-shadow: inset -7px 7px 12px #d1d0d0, inset 7px -7px 12px #ffffff;
}

.neumorphism-rect-2 {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 30px;
    background: #ebeaea;
    box-shadow: -7px 7px 12px #d1d0d0, 7px -7px 12px #ffffff;
}

.neumorphism-rect-2:active {
    box-shadow: inset -7px 7px 12px #d1d0d0, inset 7px -7px 12px #ffffff;
}

.neumorphism-circle {
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 50%;
    background: #ebeaea;
    box-shadow: -7px 7px 12px #d1d0d0,7px -7px 12px #ffffff;
}

.neumorphism-circle:active {
    box-shadow: inset -7px 7px 12px #d1d0d0, inset 7px -7px 12px #ffffff;
}

.neumorphism-circle-2 {
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 50%;
    background: #ebeaea;
    box-shadow: -7px 7px 12px #d1d0d0,7px -7px 12px #ffffff;
}

.neumorphism-circle-2:active {
    box-shadow: inset -7px 7px 12px #d1d0d0, inset 7px -7px 12px #ffffff;
}